.DS_Store
*.log
*.env
.env.*
node_modules/
dist/
build/
*.local

/backend/target/
/backend/.idea/
/backend/.classpath
/backend/.project
/backend/.settings/
/backend/.vscode/
/backend/*.iml

# Maven specific
/backend/mvnw
/backend/mvnw.cmd
/backend/.mvn/



/frontend/node_modules/
/frontend/.cache/
/frontend/.env
/frontend/.env.* 
/frontend/build/
/frontend/dist/    
/frontend/.vscode/
/frontend/.idea/
/frontend/*.log

# === IDE / OS specific ===
.idea/
.vscode/



